.topic-body {
  font-size: 15px;
  overflow: hidden;
  line-height: 1.6;
  word-wrap: break-word;
}

.topic-body a {
  background: transparent;
}

.topic-body a:active,
.topic-body a:hover {
  outline: 0;
}

.topic-body ol li {
  margin: 8px 0;
}

.topic-body pre[class*=language-] {
  margin: 1.2em 0 !important;
}

.topic-body strong {
  font-weight: bold;
}

.topic-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.topic-body img {
  border: 0;
}

.topic-body hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

.topic-body table {
  border-collapse: collapse;
  border-spacing: 0;
}

.topic-body td,
.topic-body th {
  padding: 0;
}

.topic-body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topic-body a {
  text-decoration: none;
}

.topic-body a:hover,
.topic-body a:focus,
.topic-body a:active {
  text-decoration: none;
}

.topic-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.topic-body hr:before,
.topic-body hr:after {
  display: table;
  content: " ";
}

.topic-body hr:after {
  clear: both;
}

.topic-body blockquote {
  margin: 0;
}

.topic-body ul,
.topic-body ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.topic-body ol ol {
  list-style-type: lower-roman;
}

.topic-body dd {
  margin-left: 0;
}

.topic-body code,
.topic-body pre {
  font-family: monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
}

.topic-body pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
}

.topic-body .topic-body > *:first-child {
  margin-top: 0 !important;
}

.topic-body .topic-body > *:last-child {
  margin-bottom: 0 !important;
}

.topic-body .anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

.topic-body .anchor:focus {
  outline: none;
}

.topic-body h1,
.topic-body h2,
.topic-body h3,
.topic-body h4,
.topic-body h5,
.topic-body h6 {
  position: relative;
  margin-top: 1.0em;
  margin-bottom: 16px;
  line-height: 1.4;
}

.topic-body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.topic-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.3em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.topic-body h3 {
  font-size: 1.2em;
  line-height: 1.43;
}

.topic-body h4 {
  font-size: 1.1em;
}

.topic-body h5 {
  font-size: 1.0em;
}

.topic-body h6 {
  font-size: 0.9em;
  color: #777;
}

.topic-body p,
.topic-body blockquote,
.topic-body ul,
.topic-body ol,
.topic-body dl,
.topic-body table,
.topic-body pre {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

.topic-body hr {
  border: 2px dashed #F0F4F6;
  border-bottom: 0;
  margin: 18px auto;
  width: 50%;
}

.topic-body ul,
.topic-body ol {
  padding: 10px 20px 10px 30px;
  color: #7d8688;
}

.topic-body ol ol,
.topic-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.topic-body li > p {
  margin-top: 6px;
}

.topic-body dl {
  padding: 0;
}

.topic-body dl dt {
  padding: 0;
  margin-top: 6px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.topic-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.topic-body blockquote {
  font-size: inherit;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.topic-body blockquote > :first-child {
  margin-top: 20px;
}

.topic-body blockquote > :last-child {
  margin-bottom: 20px;
}

.topic-body blockquote {
  margin: 20px 0 !important;
  background-color: #f5f8fc;
  padding: 1rem;
  color: #8796A8;
  border-left: none;
}

.topic-body table {
  display: block;
  width: 100%;
  overflow: auto;
  margin: 25px 0;
}

.topic-body table th {
  font-weight: bold;
}

.topic-body table th,
.topic-body table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.topic-body table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.topic-body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.topic-body img {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topic-body img {
  border: 1px solid #ddd;
  box-shadow: 0 0 30px #ccc;
  -moz-box-shadow: 0 0 30px #ccc;
  -webkit-box-shadow: 0 0 30px #ccc;
  margin-bottom: 30px;
  margin-top: 10px;
}

.topic-body code {
  margin: 5px;
  color: #858080;
  border-radius: 4px;
  background-color: #f9fafa;
  border: 1px solid #e4e4e4;
  max-width: 740px;
  overflow-x: auto;
  font-size: .9em;
  padding: 1px 2px 1px;
}

.topic-body code:before,
.topic-body code:after {
  letter-spacing: -0.2em;
  content: "\A0";
}

.topic-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  white-space: pre;
  background: transparent;
  border: 0;
}

.topic-body .highlight {
  margin-bottom: 16px;
}

.topic-body .highlight pre,
.topic-body pre {
  padding: 14px;
  overflow: auto;
  line-height: 1.45;
  border-radius: 3px;
  color: inherit;
  border: none;
}

.topic-body .highlight pre {
  margin-bottom: 0;
}

.topic-body pre {
  word-wrap: normal;
}

.topic-body pre code {
  display: block;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.topic-body pre code:before,
.topic-body pre code:after {
  content: normal;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
  margin-bottom: 60px;
}

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 11px 2px rgba(42, 42, 42, 0.1);
          box-shadow: 0 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #00b5ad;
  margin-bottom: 40px;
  margin-top: 0;
}

.navbar-static-top .dropdown-menu {
  padding: 0;
}

.navbar-static-top .dropdown-menu li a {
  border-bottom: 1px solid #d8d8d8;
  line-height: 2.4;
}

.navbar-static-top .dropdown-menu li a .glyphicon {
  margin-right: 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
}

.footer .container {
  padding-right: 15px;
  margin-left: 15px;
}

.footer .container p {
  color: #c1c1c1;
}

.footer .container p a {
  color: inherit;
}

.register-page #captcha {
  width: 120px;
  display: inline-block;
}

.register-page img.captcha {
  margin-left: 15px;
  height: 34px;
  cursor: pointer;
}

.users-show-page .user-info .thumbnail {
  margin-bottom: 0;
}

.topics-index-page .topic-list .nav > li > a,
.categories-show-page .topic-list .nav > li > a {
  position: relative;
  display: block;
  padding: 5px 14px;
  font-size: .9em;
}

.topics-index-page .topic-list a,
.categories-show-page .topic-list a {
  color: #444444;
}

.topics-index-page .topic-list .meta,
.categories-show-page .topic-list .meta {
  font-size: .9em;
  color: #b3b3b3;
}

.topics-index-page .topic-list .meta a,
.categories-show-page .topic-list .meta a {
  color: #b3b3b3;
}

.topics-index-page .topic-list .badge,
.categories-show-page .topic-list .badge {
  background-color: #d8d8d8;
}

.topics-index-page .topic-list hr,
.categories-show-page .topic-list hr {
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-top: 1px solid #dcebf5;
}

.users-show-page .user-info .thumbnail {
  margin-bottom: 0px;
}

.users-show-page .nav-tabs {
  margin-bottom: 20px;
}

.users-show-page .nav-tabs > li.active > a {
  background-color: #fff;
}

.users-show-page .list-group .list-group-item {
  border: none;
  margin-bottom: 0px;
  border-bottom: 1px solid #efefef;
}

.users-show-page .list-group .list-group-item .meta {
  color: #b3b3b3;
}

.users-show-page .pagination {
  margin: 12px 0;
}

.users-show-page .meta {
  font-size: .9em;
  color: #b3b3b3;
}

.users-show-page .reply-content {
  margin: 6px 0;
}

.topic-reply hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

.topic-reply a {
  color: inherit;
}

.topic-reply .meta {
  font-size: .9em;
  color: #b3b3b3;
}

.reply-box-editor {
  height: 180px;
}

.reply-box-editor .w-e-text-container {
  height: 148px !important;
}

.notifications-badge {
  margin-top: -1;
}

.notifications-badge .badge-fade {
  background-color: #EBE8E8;
}

.notifications-badge .badge-hint {
  background-color: #d15b47 !important;
}

/* Sidebar */

.sidebar .panel-body {
  padding: 12px;
}

.sidebar hr {
  margin-top: 8px;
  margin-bottom: 10px;
}

.sidebar .active-users a.media {
  color: #797878;
  line-height: 26px;
  font-size: 0.9em;
}

